<html>
<head>
 <link href="{{ url_for('static', filename='css/about.css') }}" rel="stylesheet" />

</head>

{% extends "menu.html" %}
{% block content %}

<body>

<div class="abb" ><div class="ab"><img src="logo.png" id="lo"><div class="abou"  style="margin-top:520px;"> ABOUT US</div></div></div>
<div class="te">The dynamic programme is designed for those, who want to learn about the computer & English with suffcient knowleadge to make them competitive in all fields,professional as well as education. This programme is designed for engineers,doctors.and Students of schools. collage & universitites.Goverment & private officers,Bussinessmen,Teachers & Other Professionals The dynamic programme is designed for those, who want to learn about the computer & English with suffcient knowleadge to make them competitive in all fields,professional as well as education. This programme is designed for engineers,doctors.and Students of schools. collage & universitites.Goverment & private officers,Bussinessmen,Teachers & Other Professionals</div>
</div>

<body>

{% endblock %}

</html>