<html>

<head>
    <title>softskills</title>
    <!--<link href="{{ url_for('static', filename='css/sofft.css') }}" rel="stylesheet" />-->
    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</head>

<body bgcolor="skyblue" style="width:70%; height:80%; padding-left:2%;">
    <!--<div>-->
    <!--<img src="{{ url_for('static', filename='images/cover.jpg') }}" id="img">-->


    <!--<div class="outset" ><ul>-->
    <!--<li><a href="{{ url_for('home') }}" >Home</a></li>-->
    <!--<li><a href="{{ url_for('onlinereg') }}" target="ab">Online Registration</a></li>-->
    <!--<li><a href="{{ url_for('media') }}" target="ab">Media Gallary</a></li>-->
    <!--<li><a href="{{ url_for('about') }}" target="ab">About Us</a></li>-->
    <!--<li><a href="{{ url_for('contact') }}" target="ab">Contact Us</a></li>-->

    <!--</ul></div>-->
    <!--<div class="solid"><marquee>"M/S UNI TECH" AN ACADEMY FOR SKILL DEVELOPMENT</marquee></div>-->
    <!--</div>-->

    <div class="row">
        <div>
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Home</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="{{ url_for('home') }}">helo</a></li>
            </ul>
        </div>
        <div>
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Online Registration</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a href="{{ url_for('onlinereg') }}">Online register</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
        <div>
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Media Gallary</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                <li><a href="{{ url_for('media') }}">Media</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
        <div>
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">About Us</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                <li><a href="{{ url_for('about') }}">About Us</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
        <div>
            <button class="btn btn-primary dropdown-toggle" type="button" id=" dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Contact Us</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu5">
                <li><a href="{{ url_for('contact') }}">contact US</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <img src="{{ url_for('static', filename='images/1.jpg') }}" style="width:100%; height:parent; "/>
        </div>
    </div>
	<div class="row">
		<h1 class="fa-industry" class="fa"> helo</h1>
		<span class="fa fa-industry"></span>
	</div>
    <!--{% block content %} {% endblock %}</div>-->
</body>

</html>